{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .tableau {margin-top: 100px;}
     h1{ text-align:center; margin-bottom:100px;}
    .new{ text-align:center; border:1px solid blue; max-width:220px; display:block; margin:auto;}
    .new a{text-decoration:none;}

</style>

    <h1>Création d'un nouvel utilisateur</h1>

<div class="container">
    {{ include('user/form.html.twig') }}

    <p class="new alert alert-primary"><a href="{{ path('user_index') }}">Retour à la liste</a></p>
</div>

{% endblock %}
